body {
    font-family: Arial, Helvetica, sans-serif
}

#logo {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    box-shadow: 1px 1px 2px 2px;
    border-radius: 10px 10px 10px 10px;
}

.topNav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

#search {
    border-radius: 5px 5px 5px 5px;
}

.container {
    text-align: center;
}

#searchButton, img, h2:hover {
    cursor: pointer;
}

#searchButton:hover {
    color: black;
    opacity: 60%;
}

.cardContainer {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

#set-container {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 50%;
    height: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#set-container:hover {
    background-color: #C93814;
    opacity: 75%;
    cursor: pointer;
}

#sourceAPI {
    text-decoration: none;
}